/**********************************/
/*
* floor plan start
*/

.page-link{
	display: flex;
	align-items: center;
	text-decoration: none;
	svg{
		margin-right: 15px;
		width: 20px;
		height: 19px;
	}
	.page-link__text {
		font-size: 16px;
		letter-spacing: 0.04em;
		white-space: nowrap;
		color: #2F2536;
		text-transform: uppercase;
		transition: all 0.3s;
		&:hover{
			color: $mc3;
			@include to(768px){
				color: #2F2536;

			}
			&::before{
				transition: all 0.3s;
				background-color: $mc3;
			}
			
		}
		@include to(1441px){
			font-size: 12px;
		}
	}
}
.page-link-filter{
	margin-left: auto;
	@include to(720px){
		display: none;
	}
}
.gen-block {
	padding: 29px;
	min-height: calc(100vh - 230px);
}

.see-more-floor {
	margin: 50px 0 0 0;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #CE8163;
	width: 100%;
	border: none;
	display: none;
	text-decoration: none;
	@include to(768px){
		display: flex;
	}
	@include to(576px){
		display: none;
	}
	&__text {
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #FFF0E0;
		font-family: $default-font2;
	}
		svg {
			margin-left: 15px;
			width: 20px;
			height: 19px;
			fill: #FFF0E0;
			stroke: #FFF0E0;
		}
}

.floor-plan-content {
	@include to(768px){
		padding-bottom: 50px;
	}
	@include to(576px){
		padding-bottom: 0px;
	}
}














.filter-plan-block{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	min-height: calc(100vh - 230px);
	padding: 29px 9% 50px 45px;
	@include to(1200px){
		padding: 12px 0 50px 45px;
	}
	@include to(1020px){
		padding: 65px 20px 50px 20px;
	}
	@include to(768px){
		padding: 65px 0px 0 0px;
	}
	@include to(576px){
		padding: 0px 0px 0 0px;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;
	}
	
	&__l{
		display: flex;
		flex-direction: column; 
		flex: 0 4 auto;
		@include to(576px){
			order: 3;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
		}
	}
	&__c{
		justify-content: center;
		align-self: center;
		flex: 0 3 50%;
		@include to(768px){
			align-self: start;
			
		}
		@include to(576px){
			align-self: center;
			flex: 0 3 auto;
			width: 100%;
			margin-bottom: 50px;

		}
		svg{
			display: block;
			margin: 0 auto;
			width: 69%;
			max-height: calc(100vh - 220px);
			// max-width: 275px;
			@include from(1440px){
				max-height: calc(100vh - 360px);
				
			}
			@include to(944px){
				padding: 0 5px;
				
			}
			@include to(768px){
				width: 95%;
			}
			@include to(576px){
				padding: 0 0px;
				width: 70%;
				max-height: none;
			}
			@include to(425px){
				width: 100%;
			}
		}
		
		@include to(576px){
			order: 2;
		}
	}
	&__r{
		flex: 0 1 310px;
		@include from(1441px){
			flex: 0 1 440px;
		}
		@include to(1200px){
			flex: 0 3 310px;
		}
		@include to(768px){
			flex: 0 1 170px;
		}
		@include to(640px){
			flex: 0 1 130px;
		}
		
		@include to(576px){
			order: 1;
			flex: 0 1 auto;
		}
	}
}

.filter-plan {
	&__inner-wrap {
		padding-left: 30px;
		margin-bottom: 33px;
		padding-bottom: 37px;
		border-bottom: 1px solid #9A959E;

		@include to(770px) {
			padding-left: 0;
		}

		@include to(570px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__title {
		margin-bottom: 5px;
		font-size: 22px;
		line-height: 1.5em;
		color: #CE8163;
		font-family: $default-font2;
	}

	&__wrap {
		display: flex;
		flex-direction: column;

		span {
			display: block;
		}
	}

	&__item {
		font-size: 14px;
		padding: 0 18px;
		line-height: 2em;
		text-decoration: none;
		max-width: 250px;
		display: flex;
		justify-content: space-between;
		transition: all 0.4s;

		@include to(770px) {
			width: 100%;
			padding: 0 10px;
			font-size: 12px;
		}

		@include to(570px) {
			width: 300px;
		}

		&--active {
			background-color: #CE8163;

			.filter-plan__number {
				color: #fff;
			}

			.filter-plan__type {
				color: #fff;

				&::before {
					background-color: #fff;
				}
			}
		}
	}

	&__number {
		width: 20%;
		text-align: right;
		color: #CE8163;
	}

	&__type {
		position: relative;
		margin-left: 22px;
		padding-left: 24px;
		width: 80%;
		color: #706A75;

		@include to(770px) {
			margin-left: 10px;
			padding-left: 12px;
		}

		@include to(570px) {
			margin-left: 22px;
			padding-left: 25px;
		}

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 15px;
			width: 2px;
			height: 2px;
			border-radius: 50%;
			background-color: #CE8163;

			@include to(570px) {
				top: 11px;
			}
		}
	}
}

.filter-plan__type-nowrap {
	white-space: nowrap;
}

.gen-content,.floor-plan-content {
	transition: all 0.4s;
	box-shadow: 11px 1px 30px rgba(177, 177, 177, 0.37);

	margin-left: 66px;
	@include to(1020px){
		margin-left: 0px;
	}
	@include to(576px){
		box-shadow: none;
	}
}
.gen-content,
.floor-plan-content {
.section-title{
	margin-bottom: 12px;
	display: flex;
	align-items: flex-end;
	@include to(576px){
		display: none;
	}
	@include from(1440px){
		margin-bottom: 28px;
	}
	&__num{
		margin-right: 8px;
		font-family: $default-font2;
		font-size: 50px;
		line-height: 1em;
		color: #CE8163;
		@include from(1440px){
			font-size: 70px;
		}
	}
	&__text{
		margin-bottom: 3px;
		line-height: 1em;
		font-size: 14px;
		color: #CE8163;
		@include from(1440px){
			font-size: 18px;
		}
	}
}
}
.section-plan{
	margin-bottom: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 105px;
	
	&__img{
		width: 100%;
	}
	&__text{
		margin-top: 10px;
		font-size: 14px;
		line-height: 15px;
		color: #9A959E;
		white-space: nowrap;
		@include to(1441px){
			margin-top: 0;
			font-size: 10px;
			
		}
	}
}

.section-compass {
	&__img{
		width: 149px;
		height: 149px;
		transform: translateX(20px);
		@include to(768px){
			width: 105px;
			height: 105px;
			
			transform: translateX(0px);
			
		}
		@include to(576px){
			width: 180px;
			height: 180px;
			transform: translateY(-30px);

			
		}
		@include to(425px){
			width: 105px;
			height: 105px;
			
		}
	}
}








.floor-flat-link path,
.floor-flat-link polygon
{
	fill: #bb8064;
	opacity: 0.5;
	transition: all 0.5s;
}

.floor-flat-link:hover path,
.floor-flat-link:hover polygon {
	fill: #bb8064;
	opacity: 0.8;
}

a.active:not(#h) path,
a.active:not(#h) polygon {

	fill: #bb8064;
	opacity: 0.8;
}

.floor-list{
	margin-bottom: 15%;
	padding-bottom: 46px;
	display: flex;
	border-bottom: 1px solid rgba(153, 149, 157,.2);
	user-select: none;
	outline: none;
	@include from(1440px) {
		margin-bottom: 18%;
		padding-bottom: 18%;
	}
	@include to(768px){
		margin-bottom: 26%;
	}
	@include to(576px){
		padding-bottom: 15px;
		margin-bottom: 0%;
		border-bottom: none;
	}
}
.tip-floor-list{
	display: none;
}
.current-floor-nav{
	margin: 7px 0 0 27px;
	height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@include from(1440px){
		height: 76px;
	}
	a{
		height: 50%;
		display: flex;
	}
	a:nth-child(2){
		padding-top: 6px;
		@include from(1440px){
			padding-top: 20px;
		}
	}
	svg{
		width: 12px;
		height: 12px;
		fill: $mc3;
	}
}
.current-floor {
	display: flex;
	flex-direction: column;
	pointer-events: none;
&__num{
	font-size: 60px;
	line-height: 1em;
	color: #2F2536;
	font-family: $default-font2;
	@include from(1440px) {
		font-size: 86px;
	}
}
&__text{
	padding-left: 7px;
	font-size: 14px;
	line-height: 1.6em;
	color: #2F2536;
	@include from(1440px) {
		font-size: 18px;
	}
}
}

.sup{
	display: inline-flex;
	font-size: 0.7em;
	line-height: 1em;
	transform: translateY(-80%);
}

.floor-info{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	@include to(768px){
		flex-direction: column;
	}
	@include to(576px){
		display: none;
	}
	&-item{
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 46%;
		@include from(1440px) {
			margin-bottom: 46px;
		}
		&__key{
			margin-bottom: 6px;
			font-size: 14px;
			line-height: 1.7em;
			color: #706A75;
			white-space: nowrap;
				@include from(1440px) {
					font-size: 18px;
				}
		}
		&__val{
			font-family: $default-font2;
			font-size: 40px;
			line-height: 1.1em;
			color: #CE8163;
			transition: all 0.3s;
			@include from(1440px) {
				font-size: 50px;
			}
		}
	}
}

.tip-floor-list{

	display: flex;
	&__title{
		padding-right: 8px;
		font-size: 14px;
		color: #CE8163;
		@include to(768px){
			margin-bottom: 15px;
		}
	}
}
.mt_1{
	@include from(1441){

		margin-top: -2px;
	}
	margin-top: -1px;
}
.arrow-close{
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	background-color: transparent;
	border: none;
	padding: 0;
	@include from(769px){
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
	svg{
		width: 100%;
		height: 100%;
	}
}
.current-floor-wrap{
	display: flex;
	position: relative;
}
		@include from(769px){
			.floor-list:hover {
		
				.tip-floor-list-wrap{
					transform: translateX(110%) translateY(0);
					opacity: 2;
					visibility: visible;
					pointer-events: auto;
					@include to(1270px){
	
						transform: translateX(-0%) translateY(110%);
					}
					@include to(768px){
						opacity: 0;
						visibility: hidden;
						pointer-events: none;
						transform: translateX(0) translateY(0);
					}
				}
			}

		}
		.floor-list.active-tip {
	
			.tip-floor-list-wrap{
				transform: translateX(110%) translateY(0);
				opacity: 2;
				visibility: visible;
				pointer-events: auto;
				@include to(1270px){

					transform: translateX(-0%) translateY(110%);
				}
				@include to(425px){
					transform: translateX(60px) translateY(110%);

				}
			}
		}
.current-floor-wrap{
	display: flex;
	position: relative;
}
.tip-floor-list-wrap{
	padding: 20px 15px 28px 21px;
	display: flex;
	align-items: flex-start;
	position: absolute;
	top: 0;
	right: 0;
	background: #FFFFFC;
	box-shadow: 0px 4px 30px rgba(177, 177, 177, 0.25);
	transform: translateX(100%) translateY(0);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: all cubic-bezier(0, 0, 0, 1.01) 0.3s;
	z-index: 10;
	@include to(1270px){
		top: auto;
		bottom: 0;
		transform: translateX(-0%) translateY(90%);
	}
	@include to(768px){
		flex-direction: column;
	}
	@include to(425px) {
		transform: translateX(60px) translateY(90%);

	}
}
span.arrow-rect{
	position: absolute;
	top: 30px;
	left: 0;
	width: 20px;
	height: 20px;
	background: #FFFFFC;
	transform: rotate(45deg) translate(-40%, -30%);
	// border: 1px solid red;
	 @include to(1270px){
		 top: 0;
		 right: 40px;
		 left: auto;
	 }
}

.tip-floor-list{
	display: flex;
	flex-wrap: wrap;
	width: 199px;
	li{
		margin: 0 7.5px 15px;
		width: 24px;
		height: 24px;
		align-items: center;
		justify-content: center;
		display: flex;
		a.active{
			color: #2F2536;
		}
		a{
			font-size: 22px;
			color: #9A959E;
			font-family: $default-font2;
			text-decoration: none;
			transition: all 0.3s;
			&:hover{
				color:  #2F2536;
				;
			}
		}
	}
}





.current-section {
	@include from(577px) {
		display: none;
	}
	@include to(576px){

		padding-right: 200px;
	}
	@include to(425px){

		padding-right: 65px;
	}
}

.mobile-popup-flat-info{
	display: flex;
	align-items: center;
}
.popup-floor-info{
	padding: 0 27px;
	display: flex;
	flex-wrap: wrap;
}

.mobile-popup-flat-info{
		position: relative;
		width: 300px;
		min-height: 358px;
		background: #FFFFFC;
		box-shadow: 0px 4px 30px rgba(177, 177, 177, 0.25);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transform: translateY(-25%);
		transition: all ease-in-out 0.4s;
		
		&-overlay{
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100vw;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.arrow-close{
		width: 47px;
		height: 47px;
	}
}

.mobile-popup-flat-info-link{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #2F2536;
	text-decoration: none;
	span{
		font-size: 14px;
		margin: 0 18px;
		font-family: $default-font2;
		letter-spacing: 0.1em;
		text-transform: uppercase;

		color: #FFF0E0;
	}
	svg {
		width: 23px;
		height: 13px;
	}
}

.mobile-popup-flat-info--active {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	z-index: 10;
	background-color: rgba(0, 0, 0, .8);
	//transition: all 0.3s;
	.mobile-popup-flat-info{

		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		transform: translateY(0);
	}
}
.mobile-popup-flat-info--active-leave {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	.mobile-popup-flat-info{

		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transform: translateY(25%);
	}
}























/*
* floor plan end
*/
/**********************************/