#infrastructure-page {
	.section-footer:not(#Y) {
		position: relative;
		max-width: none;
	}

	.footer-logo {
		display: flex;
	}
}


#infrastructure-page .breadcrumbs {
	margin: 0 0 28px 0;
	padding-right: 45px;
	@include to(1020px){
		padding-right: 20px;
	}
}

.infrastructure-content {
	transition: all 0.4s;
	margin-left: 66px;
	padding: 120px 0px 0 0px;
	box-shadow: 11px 1px 30px rgba(177, 177, 177, 0.37);

	@include to(1020px) {
		margin-left: 0px;
		padding: 120px 20px 0;
	}

	@include to(576px) {
		padding: 80px 20px 0;
	}
}

.infrastructure-block {
	overflow: hidden;
	position: relative;
	min-height: calc(100vh - 240px);
}

.infrastructure-block-map{
	min-height: calc(100vh - 240px);

}



	.infra__box{
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 5;
		width: 380px;
		@include to(576px){
			width: 100%;
		}
		@include to(380px){
		}
		background: #FFFFFC;
		.infrastructure__list-btn.active {
			svg{
				transform: rotate(180deg);
			}
		}
		.infrastructure__list-btn{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 71px;
			background-color: $mc3;
			border: none;
			@include to(576px){
				height: 50px;
			}
			/* вайт */
			span{
				margin: 0 25px;
				font-size: 22px;
				line-height: lh(32, 22);
				font-family: $default-font2;
				color: #FFFFFC;
				@include to(576px){
					font-size: 16px;
				}
			}
			svg{
				transition: all 0.3s;
				width: 9px;
				height: 15px;
				fill: #FFFFFC;
			}
		}
	}


	.infrastructure-nav-list{
		display: flex;
		display: none;
		flex-direction: column;
		overflow-y: scroll;
		padding: 15px 0;
		li.mark-item.active-map-item {
			opacity: 1;
		}
		li{
			padding: 11px 50px;
			position: relative;
			display: flex;
			align-items: center;
			opacity: 0.75;
			@include to(576px){
				padding-left: 0;
			}
			&:hover{
				cursor: pointer;
					.icon--eye {

						fill: #706A75;
					}

					.mark-item__text,
					.mark-item__icon {

						color: #706A75;
					}
			}
			.mark-item__icon{
				margin-right: 30px;
				min-width: 30px;
				color: #9A959E
			}
			.icon--eye{
				position: absolute;
				right: 26px;
				top: 50%;
				transform: translateY(-50%);
				width: 22px;
				height: 11px;
				fill: #9A959E;
				transition: all 0.3s;
			}
			.mark-item__text{
				margin-top: -2px;
				color: #9A959E;
				transition: all 0.3s;
				
			}
		}
	}
	
	.active-map-item:not(#j){
		.icon--eye{
transition: all 0.3s;
			fill: #706A75;
		}
		.mark-item__text,
		.mark-item__icon {
				transition: all 0.3s;
			color: #706A75;
		}
	}
















	[class^="flaticon-"]:before,
	[class*=" flaticon-"]:before,
	[class^="flaticon-"]:after,
	[class*=" flaticon-"]:after {
		font-family: Flaticon;
		font-size: 20px;
		font-style: normal;
	}


	/* line 64, ../sass/_variables.scss */

	.flaticon-tooth:before {
		content: "\f100";
	}


	/* line 65, ../sass/_variables.scss */

	.flaticon-front-business:before {
		content: "\f101";
	}


	/* line 66, ../sass/_variables.scss */

	.flaticon-store:before {
		content: "\f102";
	}


	/* line 67, ../sass/_variables.scss */

	.flaticon-shopping-purse-icon:before {
		content: "\f103";
	}


	/* line 68, ../sass/_variables.scss */

	.flaticon-pharmacy-sign:before {
		content: "\f104";
	}


	/* line 69, ../sass/_variables.scss */

	.flaticon-american-dollar-symbol:before {
		content: "\f105";
	}


	/* line 70, ../sass/_variables.scss */

	.flaticon-dollar-symbol:before {
		content: "\f106";
	}


	/* line 71, ../sass/_variables.scss */

	.flaticon-plate-fork-and-knife:before {
		content: "\f107";
	}


	/* line 72, ../sass/_variables.scss */

	.flaticon-gym:before {
		content: "\f108";
	}


	/* line 73, ../sass/_variables.scss */

	.flaticon-university-campus:before {
		content: "\f109";
	}


	/* line 74, ../sass/_variables.scss */

	.flaticon-college-graduation:before {
		content: "\f10a";
	}


	/* line 75, ../sass/_variables.scss */

	.flaticon-shopping-store-cart:before {
		content: "\f10b";
	}


	/* line 76, ../sass/_variables.scss */

	.flaticon-toy:before {
		content: "\f10c";
	}

	.fa-theater-masks:before {
		content: url("data:image/svg+xml,%3Csvg id='Layer_1' enable-background='new 0 0 512 512' height='20' viewBox='0 0 512 512' fill='%239A959E' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m507.606 371.054c-7.224-7.224-14.923-13.757-23.051-19.606-17.316 19.999-37.648 36.808-60.572 50.041-35.508 20.505-75.893 31.452-116.875 31.711 21.762 8.776 45.224 13.38 69.396 13.38 49.524 0 96.084-19.286 131.103-54.305 2.813-2.813 4.394-6.628 4.394-10.606-.001-3.978-1.582-7.801-4.395-10.615z'/%3E%3Cpath d='m27.445 351.448c-8.128 5.85-15.827 12.383-23.051 19.606-2.813 2.814-4.394 6.637-4.394 10.615s1.581 7.793 4.394 10.606c35.019 35.019 81.579 54.305 131.103 54.305 24.172 0 47.634-4.604 69.396-13.38-40.985-.259-81.367-11.206-116.879-31.713-22.922-13.231-43.254-30.04-60.569-50.039z'/%3E%3Cpath d='m103.015 375.508c24.937 14.4 53.928 24.056 84.837 26.854-53.409-29.561-82.274-70.602-95.861-94.135-14.942-25.878-25.041-53.917-30.063-83.421-14.921.64-29.775 2.868-44.227 6.709-6.6 1.576-11.507 7.517-11.507 14.599 0 1.312.172 2.618.512 3.885 15.32 57.142 52.726 100.35 96.309 125.509z'/%3E%3Cpath d='m324.148 402.362c30.908-2.799 59.9-12.454 84.837-26.854 43.583-25.159 80.989-68.367 96.31-125.508.34-1.267.512-2.573.512-3.885 0-7.082-4.907-13.023-11.507-14.599-14.452-3.841-29.306-6.07-44.227-6.709-5.022 29.504-15.121 57.543-30.063 83.421-13.588 23.533-42.419 64.554-95.862 94.134z'/%3E%3Cpath d='m187.301 366.948c-15.157-24.483-38.696-71.48-38.696-135.903 0-32.646 6.043-64.401 17.945-94.529-16.394-9.351-33.972-16.623-52.273-21.525-8.004-2.142-16.225 2.604-18.37 10.605-16.372 61.078-4.825 121.063 22.064 167.631 16.325 28.275 39.769 54.111 69.33 73.721z'/%3E%3Cpath d='m324.684 366.957c29.568-19.611 53.017-45.451 69.344-73.73 26.889-46.569 38.436-106.553 22.064-167.631-2.145-8.001-10.366-12.748-18.37-10.605-18.304 4.902-35.883 12.176-52.279 21.529 11.9 30.126 17.943 61.88 17.943 94.525.001 64.478-23.58 111.488-38.702 135.912z'/%3E%3Cpath d='m266.606 69.813c-2.813-2.813-6.637-4.394-10.615-4.394s-7.793 1.581-10.606 4.394c-39.289 39.289-66.78 96.005-66.78 161.231 0 65.256 27.522 121.974 66.78 161.231 2.813 2.813 6.637 4.394 10.615 4.394s7.793-1.581 10.606-4.394c39.248-39.247 66.78-95.96 66.78-161.231.001-65.256-27.511-121.964-66.78-161.231z'/%3E%3C/svg%3E");
	}
	
		.active-map-item i.fa-theater-masks:not(#h):before {
		content: url("data:image/svg+xml,%3Csvg id='Layer_1' enable-background='new 0 0 512 512' height='20' viewBox='0 0 512 512' fill='%23706A75' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m507.606 371.054c-7.224-7.224-14.923-13.757-23.051-19.606-17.316 19.999-37.648 36.808-60.572 50.041-35.508 20.505-75.893 31.452-116.875 31.711 21.762 8.776 45.224 13.38 69.396 13.38 49.524 0 96.084-19.286 131.103-54.305 2.813-2.813 4.394-6.628 4.394-10.606-.001-3.978-1.582-7.801-4.395-10.615z'/%3E%3Cpath d='m27.445 351.448c-8.128 5.85-15.827 12.383-23.051 19.606-2.813 2.814-4.394 6.637-4.394 10.615s1.581 7.793 4.394 10.606c35.019 35.019 81.579 54.305 131.103 54.305 24.172 0 47.634-4.604 69.396-13.38-40.985-.259-81.367-11.206-116.879-31.713-22.922-13.231-43.254-30.04-60.569-50.039z'/%3E%3Cpath d='m103.015 375.508c24.937 14.4 53.928 24.056 84.837 26.854-53.409-29.561-82.274-70.602-95.861-94.135-14.942-25.878-25.041-53.917-30.063-83.421-14.921.64-29.775 2.868-44.227 6.709-6.6 1.576-11.507 7.517-11.507 14.599 0 1.312.172 2.618.512 3.885 15.32 57.142 52.726 100.35 96.309 125.509z'/%3E%3Cpath d='m324.148 402.362c30.908-2.799 59.9-12.454 84.837-26.854 43.583-25.159 80.989-68.367 96.31-125.508.34-1.267.512-2.573.512-3.885 0-7.082-4.907-13.023-11.507-14.599-14.452-3.841-29.306-6.07-44.227-6.709-5.022 29.504-15.121 57.543-30.063 83.421-13.588 23.533-42.419 64.554-95.862 94.134z'/%3E%3Cpath d='m187.301 366.948c-15.157-24.483-38.696-71.48-38.696-135.903 0-32.646 6.043-64.401 17.945-94.529-16.394-9.351-33.972-16.623-52.273-21.525-8.004-2.142-16.225 2.604-18.37 10.605-16.372 61.078-4.825 121.063 22.064 167.631 16.325 28.275 39.769 54.111 69.33 73.721z'/%3E%3Cpath d='m324.684 366.957c29.568-19.611 53.017-45.451 69.344-73.73 26.889-46.569 38.436-106.553 22.064-167.631-2.145-8.001-10.366-12.748-18.37-10.605-18.304 4.902-35.883 12.176-52.279 21.529 11.9 30.126 17.943 61.88 17.943 94.525.001 64.478-23.58 111.488-38.702 135.912z'/%3E%3Cpath d='m266.606 69.813c-2.813-2.813-6.637-4.394-10.615-4.394s-7.793 1.581-10.606 4.394c-39.289 39.289-66.78 96.005-66.78 161.231 0 65.256 27.522 121.974 66.78 161.231 2.813 2.813 6.637 4.394 10.615 4.394s7.793-1.581 10.606-4.394c39.248-39.247 66.78-95.96 66.78-161.231.001-65.256-27.511-121.964-66.78-161.231z'/%3E%3C/svg%3E");
	}

	.metro:before {
		content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg width='20px' height='20px' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' fill='%239A959E'  viewBox='0 0 405.333 405.333' style='enable-background:new 0 0 405.333 405.333;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M202.667,0C108.373,0,32,10.667,32,85.333V288c0,41.28,33.493,74.667,74.667,74.667l-32,32v10.667h256v-10.667l-32-32 c41.28,0,74.667-33.387,74.667-74.667V85.333C373.333,10.667,296.96,0,202.667,0z M106.667,320c-17.707,0-32-14.293-32-32 s14.293-32,32-32s32,14.293,32,32S124.373,320,106.667,320z M181.333,192H74.667V85.333h106.667V192z M298.667,320 c-17.707,0-32-14.293-32-32s14.293-32,32-32s32,14.293,32,32S316.373,320,298.667,320z M330.667,192H224V85.333h106.667V192z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
	}

.active-map-item i.metro:not(#h) {

		&::before {
			content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg width='20px' height='20px' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' fill='%23706A75' viewBox='0 0 405.333 405.333' style='enable-background:new 0 0 405.333 405.333;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M202.667,0C108.373,0,32,10.667,32,85.333V288c0,41.28,33.493,74.667,74.667,74.667l-32,32v10.667h256v-10.667l-32-32 c41.28,0,74.667-33.387,74.667-74.667V85.333C373.333,10.667,296.96,0,202.667,0z M106.667,320c-17.707,0-32-14.293-32-32 s14.293-32,32-32s32,14.293,32,32S124.373,320,106.667,320z M181.333,192H74.667V85.333h106.667V192z M298.667,320 c-17.707,0-32-14.293-32-32s14.293-32,32-32s32,14.293,32,32S316.373,320,298.667,320z M330.667,192H224V85.333h106.667V192z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
		}
	}
