.section-footer
	.section-footer__logo
		+svg('logo-perfect')
	a(href="#").section-footer__link.footer-link
		+svg('map').footer-link__icon
		span.footer-link__text Київ, Предславинська, 35 
	a(href='https://smarto.agency/' rel="nofollow" target="_blank").footer-logo
		span.footer-logo__text розробка сайту
		+svg('smarto').footer-logo__svg