extends ../layout/main
block variable
	-
		var title_page = 'Новина';
		var id_page = 'news-single-page';
		var breadcrumbsBtn = 'news_s';
		var breadcrumbsSubitem = 		[{
				label: 'Новини',
				link: pagesLink[0].news
			}];
	
block meta
	title= title_page
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(defer src='./assets/scripts/index.js')
	script(defer src='./assets/scripts/news-single.js')
block content
	.news-single-content
		include ../includes/breadcrumbs.pug
		.news-single-block
			.news-single-block__l
				.news-single-slider.js-news-single-slider
					.news-single-slider__item
						+img('temp/11.jpg')
					.news-single-slider__item
						+img('temp/news.png')
					.news-single-slider__item
						+img('temp/news.png')
					.news-single-slider__item
						+img('temp/news.png')
				.gallery-pagination-arrows.news-single-arrows
					button(type="button").button.button-reset--default-styles.gallery-pagination-arrow.gallery-pagination-arrow__prev.js-single-news-arrow__prev
						+svg('arrow-link')
					button(type="button").button.button-reset--default-styles.gallery-pagination-arrow.gallery-pagination-arrow__next.js-single-news-arrow__next
						+svg('arrow-link')
			.news-single-block__r.js-news-single-block__r
				h2.news-single__title Відділ продажу вже відкрито
				
				.card-data-wrap.card-data.news-single__data
					+svg('data').card-data__icon
					time.card-data__text(pubdate datetime="2012-12-23") 25.03.2019
				.news-single-text-block.custom-scroll
					p Збираєтесь відвідати наш відділ продажу? Телефонуйте за номером, вказаним на сайті та замовляйте трансфер прямісінько до дверей офісу. Для вашої зручності до POLARIS Home&Plaza курсують автомобілі — у будні з 9.00 до 19.00, у вихідні з 10.00 до 18.00.
					p Збираєтесь відвідати наш відділ продажу? Телефонуйте за номером, вказаним на сайті та замовляйте трансфер прямісінько до дверей офісу. Для вашої зручності до POLARIS Home&Plaza курсують автомобілі — у будні з 9.00 до 19.00, у вихідні з 10.00 до 18.00.
					p Збираєтесь відвідати наш відділ продажу? Телефонуйте за номером, вказаним на сайті та замовляйте трансфер прямісінько до дверей офісу. Для вашої зручності до POLARIS Home&Plaza курсують автомобілі — у будні з 9.00 до 19.00, у вихідні з 10.00 до 18.00.
					p Збираєтесь відвідати наш відділ продажу? Телефонуйте за номером, вказаним на сайті та замовляйте трансфер прямісінько до дверей офісу. Для вашої зручності до POLARIS Home&Plaza курсують автомобілі — у будні з 9.00 до 19.00, у вихідні з 10.00 до 18.00.
					p Збираєтесь відвідати наш відділ продажу? Телефонуйте за номером, вказаним на сайті та замовляйте трансфер прямісінько до дверей офісу. Для вашої зручності до POLARIS Home&Plaza курсують автомобілі — у будні з 9.00 до 19.00, у вихідні з 10.00 до 18.00.
					p Збираєтесь відвідати наш відділ продажу? Телефонуйте за номером, вказаним на сайті та замовляйте трансфер прямісінько до дверей офісу. Для вашої зручності до POLARIS Home&Plaza курсують автомобілі — у будні з 9.00 до 19.00, у вихідні з 10.00 до 18.00.
					p Збираєтесь відвідати наш відділ продажу? Телефонуйте за номером, вказаним на сайті та замовляйте трансфер прямісінько до дверей офісу. Для вашої зручності до POLARIS Home&Plaza курсують автомобілі — у будні з 9.00 до 19.00, у вихідні з 10.00 до 18.00.
					p Збираєтесь відвідати наш відділ продажу? Телефонуйте за номером, вказаним на сайті та замовляйте трансфер прямісінько до дверей офісу. Для вашої зручності до POLARIS Home&Plaza курсують автомобілі — у будні з 9.00 до 19.00, у вихідні з 10.00 до 18.00.
					p Збираєтесь відвідати наш відділ продажу? Телефонуйте за номером, вказаним на сайті та замовляйте трансфер прямісінько до дверей офісу. Для вашої зручності до POLARIS Home&Plaza курсують автомобілі — у будні з 9.00 до 19.00, у вихідні з 10.00 до 18.00.
					p Збираєтесь відвідати наш відділ продажу? Телефонуйте за номером, вказаним на сайті та замовляйте трансфер прямісінько до дверей офісу. Для вашої зручності до POLARIS Home&Plaza курсують автомобілі — у будні з 9.00 до 19.00, у вихідні з 10.00 до 18.00.
					p Збираєтесь відвідати наш відділ продажу? Телефонуйте за номером, вказаним на сайті та замовляйте трансфер прямісінько до дверей офісу. Для вашої зручності до POLARIS Home&Plaza курсують автомобілі — у будні з 9.00 до 19.00, у вихідні з 10.00 до 18.00.
					p Збираєтесь відвідати наш відділ продажу? Телефонуйте за номером, вказаним на сайті та замовляйте трансфер прямісінько до дверей офісу. Для вашої зручності до POLARIS Home&Plaza курсують автомобілі — у будні з 9.00 до 19.00, у вихідні з 10.00 до 18.00.
					p Збираєтесь відвідати наш відділ продажу? Телефонуйте за номером, вказаним на сайті та замовляйте трансфер прямісінько до дверей офісу. Для вашої зручності до POLARIS Home&Plaza курсують автомобілі — у будні з 9.00 до 19.00, у вихідні з 10.00 до 18.00.
					p Збираєтесь відвідати наш відділ продажу? Телефонуйте за номером, вказаним на сайті та замовляйте трансфер прямісінько до дверей офісу. Для вашої зручності до POLARIS Home&Plaza курсують автомобілі — у будні з 9.00 до 19.00, у вихідні з 10.00 до 18.00.
					p Збираєтесь відвідати наш відділ продажу? Телефонуйте за номером, вказаним на сайті та замовляйте трансфер прямісінько до дверей офісу. Для вашої зручності до POLARIS Home&Plaza курсують автомобілі — у будні з 9.00 до 19.00, у вихідні з 10.00 до 18.00.
					p Ми — за чисте довкілля та збереження природних ресурсів, саме тому для трансферу обрали екологічні електрокари Nissan LEAF.
					p Чекаємо на вас за адресою: Харківське шосе, 22 км, щоб детальніше розповісти про проект, допомогти вам обрати планування квартири та влаштувати екскурсію мальовничою локацією POLARIS Home&Plaza.

			
block footer
	include ../includes/footer.pug

block header

