$default-font: "Inter",
sans-serif;
$default-font2: "PT Serif",
sans-serif;
$mc: #2F2536;
$mc2: #fff0e0;
$mc3: #c38163;
$mc4: #bb8064;


$gray:rgb(135, 135, 151);
$text: #22223E;
$wc: #fffffc;
$bc: #2F2536;
$bc_text: #2F2536;



// home

