.footer{
	padding: 25px 0;
  display: block;
  height: 60px;
  line-height: 60px;
  border-top: 1px solid #E4E7F0;
  .row{
    @include row-flex();
    justify-content: space-between;
    align-items: center;
    .footer__copy{
			margin-left: 10px;
			display: flex;
			flex-direction: column;
      color: $text;
			font-size: 10px;
			width: 70%;
			@include to(576px){
				width: 60%;
				font-size: 8px;
			}
			p{
				line-height: 1.7em;
			}
    }
    .footer__link{
      display: flex;
      color: $text;
      align-items: center;
      text-decoration: none;
      font-size: 12px;
      img{
				margin-right: 10px;
        margin-left: 25px;
        width: 70px;
      }
    }
  }
}


.footer-note{
	margin-top: 10px;
	width: 40%;
	color: $gray;
	@include to(1200px){
		width: 40%;
	}
	@include to(1024px){
		width: 50%;
	}
	@include to(768px){
		width: 95%;
	}
}
